.input_box {
    margin-left: 50px;
    input {
        display: none;
    }

    .button_upload {
        background-color: #78909c !important;
        font-family: "iransans";
    }

    figure {
        width: 370px;
        height: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        border: 2px solid #e0e0e0;
        border-radius: 3px;
        position: relative;

        img {
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
                rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            width: 100%;
            height: 100%;
        }

        .remove {
            background-color: #f44336;
            display: inline-block;
            padding: 2px 5px;
            border-radius: 3px;
            color: #fff;
            font-weight: bold;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
    }
}
h2 {
    text-align: right;
    color: #37474f;
}

h2.imageAdd {
    background-color: #78909c;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    width: 370px;
}
h2.filter_h2 {
    background-color: #78909c;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}
h2.setting_h2 {
    background-color: #78909c;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
}

.filter_box {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .box {
        width: 80px;
        height: 80px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        margin: 10px;
        font-weight: bold;
        font-size: 14px;
        color: #37474f;
        margin: 10px;
        cursor: pointer;
        border: 1px solid #e0e0e0;
    }
}

.setting_box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    div {
        width: 200px;
    }
    button {
        height: 30px;
    }
}

@media only screen and (max-width: 930px) {
    body {
        flex-direction: column;
    }

    .input_box,
    figure {
        width: 100% !important;
    }

    .input_box {
        margin-bottom: 25px;
    }

    .imageAdd {
        width: 100% !important;
    }
}

@media only screen and (max-width: 498px) {
    figure {
        height: 340px !important;
    }

    .filter_box {
        width: 340px !important;
    }

    .box {
        width: 60px !important;
        height: 60px !important;
        font-size: 11px !important;
    }
}

// @media only screen and (max-width: 416px) {
//     figure {
//         height: 260px !important;
//     }

//     .filter_box {
//         width: 260px !important;
//     }

//     .box {
//         width: 95px !important;
//         height: 95px !important;
//         font-size: 14px !important;
//     }
// }

@media only screen and (max-width: 416px) {
    figure {
        height: 260px !important;
    }

    .filter_box {
        width: 285px !important;
    }

    .box {
        width: 105px !important;
        height: 105px !important;
        font-size: 14px !important;
    }

    .main {
        position: fixed;
    }

    .filter_h2 {
        margin-top: 320px;
    }

    .imageAdd , figure {
        width: 290px !important;
    }
}
